<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBapplication.Properties.Settings.ConnectionString"
            connectionString="Data Source=.\server=MySQL57;allowbatch=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>